{% extends 'base.html' %}

{% block content %}
{% load static %}
<header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img class="bi me-2" src="{% static 'logo.png' %}" width="60" aria-label="logo">
          </a>
          <ul id = "top-menu" class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="{% url 'home' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="22" height="22"><use xlink:href="#home"/></svg>
                Início
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="22" height="22"><use xlink:href="#search"/></svg>
                Busca
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="22" height="22"><use xlink:href="#table"/></svg>
                Pedidos
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="22" height="22"><use xlink:href="#people-circle"/></svg>
                Perfil
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>
{% endblock %}